*{
    padding: 0;
    margin: 0;
}

.navbar {
    position: absolute; /*Nav bar continuar na tela após scroll da tela*/
    width: 100%;
    height: 70px;
    font-size: 25px;
    border-bottom: 1px solid lightgray; /* Combina border em uma linha */
    align-items: center;
    color: #004AAD;
    font-family: 'Helvetica Neue Bold', sans-serif;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; /* Três colunas: esquerda, centro, direita */
    align-items: center;  /* Alinha os itens verticalmente no centro */
    padding: 10px;
    align-content: center;
    
   
}

.opcoes-menu{
    display: flex;
    display: flex; /* Para deixar os itens do menu em linha */
    justify-content: center; /* Alinha os itens do menu no centro da coluna */
    gap: 20px; 
    
}
.opcoes-menu p {
    margin: 10px;
}
.span-nav-principal{
    
    align-items: center;
    display: flex;
    justify-self: start
    
    
}

.span-nav-principal img{

    height: 60px;
    width: 90px;
    margin: 20px;

}

#span-btn-entrar{

    width:  auto;
    height: 30px;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    padding: 5px 25px 5px 25px;
    color: #2BC866;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: normal;
    position: relative;
    right: auto;

}

#span-btn-cadastrar{
    width:  auto;
    height: 35px;
    border-radius: 20px;
    padding: 5px 40px 5px 40px;
    background-color: #1A9047;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: normal;
    position: relative;
    display: flex;

}
.esquerda{
    justify-self: end; 
    display: flex;
    margin: 30px;
}

#span-btn-entrar, #span-btn-cadastrar {
    margin-left: 10px;  /* Espaçamento entre os botões */
}