#span_img_bottom {
    display: flex;
    justify-content: center;
    height: 50vh;
    width: 100%;
}

#request_search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#search {
    border: solid 1px lightgray;
    border-radius: 5px;
    width: 600px;
    padding: 10px;
    margin-right: 10px;
}

#label_rastreio {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #2BC866;
}

#btn_rastrear {
    width: 130px;
    border-radius: 5px;
    border: none;
    background-color: #697882;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#btn_rastrear:hover{
    background-color: #2BC866;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#btn_rastrear img {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bold {
    font-weight: 700;
    font-size: 12px;
}